[Unit]
Description=Group target for odamex server instances
Requires=odasrv@friends.service
#Requires=odasrv@coop.service
#Requires=odasrv@horde.service

[Install]
WantedBy=multi-user.target
