[Unit]
Description=Odamex server instance managed by odasrvmgr
ReloadPropagatedFrom=odasrv.target

[Service]
User=odasrv
ExecStartPre=!install -o odasrv -g odasrvmgr -m 660 /dev/null '/run/odasrv/con/%i'
ExecStart=/bin/bash /opt/odasrv/odasrvargs.sh '%i'
ExecReload=/bin/bash -c ' \
  config="$(/usr/bin/python3 /opt/odasrv/tomlconfig.py -c parse '%i')"; \
  echo "exec $config" >> /run/odasrv/con/%i'
Restart=always
RestartSec=2
#StandardOutput=journal
StandardError=journal
LogsDirectory=odasrv
RuntimeDirectory=odasrv/con

# security hardening
NoNewPrivileges=yes
MemoryDenyWriteExecute=yes
ProtectHome=read-only
ProtectSystem=full
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectClock=yes
#ProtectControlGroups=strict # seems like maybe strict isnt supported by my version of systemd?
ProtectControlGroups=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native

[Install]
WantedBy=odasrv.target
