# Copyright (C) 2025 Mia McMahill
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

[Unit]
Description=Odamex server instance managed by odasrvmgr
ReloadPropagatedFrom=odasrv.target
StartLimitIntervalSec=10
StartLimitBurst=4

[Service]
User=odasrv
ExecStartPre=!/bin/bash -c ' \
  confile=/run/odasrv/%i/confile; \
  mkfifo -m 660 "$confile"; \
  chown odasrv:odasrvmgr "$confile"'
ExecStart=/bin/bash /opt/odasrvmgr/bin/odasrvargs.sh '%i'
ExecReload=/bin/bash -c ' \
  config="$(/usr/bin/python3 /opt/odasrvmgr/bin/tomlconfig.py parse -c '%i')"; \
  printf "exec %s\n" "$config" > /run/odasrv/%i/confile'
Restart=always
RestartSec=2
#StandardOutput=journal
StandardError=journal
LogsDirectory=odasrv/logs odasrv/crash-dumps
RuntimeDirectory=odasrv/%i
StateDirectory=odasrv

# security hardening
NoNewPrivileges=yes
MemoryDenyWriteExecute=yes
ProtectHome=yes
ProtectSystem=strict
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectClock=yes
#ProtectControlGroups=strict # needs systemd 257 at least
ProtectControlGroups=yes
ProtectHostname=yes
ProtectProc=noaccess
RestrictSUIDSGID=yes
SystemCallArchitectures=native
PrivatePIDs=yes
PrivateDevices=yes
PrivateTmp=yes
LockPersonality=yes

[Install]
WantedBy=odasrv.target
