[Unit]
Description=Odamex server instance managed by odasrvmgr
ReloadPropagatedFrom=odasrv.target
StartLimitIntervalSec=10
StartLimitBurst=4

[Service]
User=odasrv
ExecStartPre=!install -o odasrv -g odasrvmgr -m 660 /dev/null '/run/odasrv/con/%i'
ExecStart=/bin/bash /opt/odasrv/bin/odasrvargs.sh '%i'
ExecReload=/bin/bash -c ' \
  config="$(/usr/bin/python3 /opt/odasrv/bin/tomlconfig.py -c parse '%i')"; \
  echo "exec $config" >> /run/odasrv/con/%i'
Restart=always
RestartSec=2
#StandardOutput=journal
StandardError=journal
LogsDirectory=odasrv/logs odasrv/crash-dumps
RuntimeDirectory=odasrv/con
StateDirectory=odasrv

# security hardening
NoNewPrivileges=yes
MemoryDenyWriteExecute=yes
ProtectHome=strict
ProtectSystem=full
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectClock=yes
#ProtectControlGroups=strict # seems like maybe strict isnt supported by my version of systemd?
ProtectControlGroups=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native

[Install]
WantedBy=odasrv.target
